<div><h1>hola mundo</h1></div>
<div><h2>hola</h2></div>
<h3>todo bien</h3>
<h4>si</h4>
<h5>yo que me alegro</h5>
<h6>esto es la ruta raiz</h6>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js" integrity="sha384-+miq58Ltmjm+SSP5g8Ok6dpMO/6R4n8xe/x1Yj0Bdb9kiEz25LTnWv/GZQTRQamg" crossorigin="anonymous"></script>
 <script src="js/index.js"></script>